
version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: Philanthropy
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASS}
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: backend-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_HOST: mongo
      SPRING_DATA_MONGODB_PORT: 27017
      SPRING_DATA_MONGODB_DATABASE: Philanthropy
      SPRING_DATA_MONGODB_USERNAME: ${SPRING_USER}
      SPRING_DATA_MONGODB_PASSWORD: ${SPRING_PASS}
      SPRING_DATA_MONGODB_AUTHENTICATION_DATABASE: admin


    depends_on:
      - mongo
    volumes:
      - ./uploads:/app/uploads

volumes:
  mongo-data:
